<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.automaticdoorsapk">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutomaticDoorsAPK"
        tools:targetApi="31">

        <!-- MainActivity (página inicial) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AutomaticDoorsAPK">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UserActivity -->
        <activity
            android:name=".UserActivity"
            android:exported="true" />

        <!-- AdminActivity (caso exista) -->
        <activity
            android:name=".AdminActivity"
            android:exported="true" />

        <!-- ServerActivity (caso exista) -->
        <activity
            android:name=".ServerActivity"
            android:exported="true" />

        <!-- Doors Control Activity -->
        <activity android:name=".OpenCloseDoorsActivity"
            android:label="Controle de Portas"
            android:exported="true">
        </activity>


    </application>

</manifest>
